.app-top-bar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 16px;
    padding: 16px 0;
}


.app-icon{
    width: 40px;
    height: 40px;
    filter: drop-shadow(2px 2px 2px gray);
}

.app-title {
    flex: 1;
    font-size: 16px;
    color: #F3F57C;
    text-shadow: -1px -1px 0 #f90303,  
                 1px -1px 0 #f90303,
                 -1px 1px 0 #f90303,
                 1px 1px 0 #f90303;
    letter-spacing: 1px;
}



.app-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 280px;
    align-self: center;
}

.app-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 16px;
    width: 100%;
}

.app-nav li{
    background-color: #08B9FF;
    width: 58px;
    padding: 8px;
    border-radius: 8px;
    color: #7F0000;
    font-size: 16px;
    border: 2px solid #F3F57C;
    text-align: center;
    cursor: pointer;
}


.app-nav li:hover{
    background-color: #F3F57C;
    color: #08B9FF;
}

.app-nav-click{
    opacity: 0.5;
}


.divider{
    background-color: #FCFF3C;
    height: 3px;
    width: 280px;
    margin-top: 8px;
    border-radius: 2px;
    align-self: center;
}

.based-container{
    width: 300px;
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap;
    height: 60svh;
    align-self: center;
    overflow-y: scroll ;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 16px;
    flex-wrap: wrap;
    height: fit-content;
    row-gap: 16px; 
}


.trees{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: center;
    align-items: center;
}

.trees img{ 
    cursor: pointer; 
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    align-self: center;
    justify-self: center;
    width: 80px;
    height: 80px;
}

.tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px ;

}

.tree-name{
    font-size: 12px;
    color: #f90303;
    text-shadow: -1px -1px 0 #F3F57C,  
                 1px -1px 0 #F3F57C,
                 -1px 1px 0 #F3F57C,
                 1px 1px 0 #F3F57C;
    letter-spacing: 1px;
    text-align: center;
}



.button-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: fit-content;
    width: 100%;
    margin-top: 16px;
}

.button-container img{
    cursor: pointer;
    margin-right: 16px;
}

.hide{
    display: none;
}



.list-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px ;
    width: 100%;
    height: 100%;
    margin-top: 24px;
    
}


.list-empty img{
    width: 100px;
    height: 100px;
}

.list-empty p{
    font-size: 16px;
    color: #f90303;
    text-shadow: -1px -1px 0 #F3F57C,  
                 1px -1px 0 #F3F57C,
                 -1px 1px 0 #F3F57C,
                 1px 1px 0 #F3F57C;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}
