{% extends "base.html" %}
{% load static %}


{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/rename_tree/styles.css' %}">
    <script src="{% static 'scripts/rename_tree/scripts.js' %}" defer></script>
{% endblock head_block %}


{% block content_block %}
    
    <div class="app-top-bar">
        <img src="{% static 'media/loading-icon.webp' %}" alt="icon" class="app-icon">
        <h1 class="app-title kavoon"> Merry Christmas Masbate </h1>
    </div>

    <div class="christmas-tree" style="background-image: url({% static 'media/christmas-tree-drop-shadow.png' %});">
        
    </div>
    <form action="">
        <input type="text" name="name" class="kavoon" id="name" placeholder="Pangalan ng Puno?">
        <input type="submit" value="Ipakita Sa Lahat"  class="kavoon submit-btn">
    </form>


{% endblock content_block %}
    


