{% extends "base.html" %}
{% load static %}


{% block head_block %}
    <title> CHRISTMAS TREES </title>
    <link rel="stylesheet" href="{% static 'css/list_of_trees/styles.css' %}">
    <script src="{% static 'scripts/list_of_trees/scripts.js' %}"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

    </style>
{% endblock head_block %}
    


{% block content_block %}
    
    <div class="app-top-bar">
        <img src="{% static 'media/loading-icon.webp' %}" alt="icon" class="app-icon">
        <h1 class="app-title kavoon"> Merry Christmas Masbate </h1>
    </div>

    <nav class="app-nav">
        <ul>
            <li class="kavoon" id="near-trees">
                Malapit
            </li>
            <li class="kavoon" id="found-trees">
                Found
            </li>
            <li class="kavoon" id="not-found-trees">
                Hiding
            </li>
        </ul>
    </nav>

    <div class="divider"></div>

    <div class="based-container">
        <div class="container">

            <div class="trees" id="list-of-near-trees">

                

            </div>

            
            <div class="trees" id="list-of-found-trees">
                
                {% for tree in found_trees %}
                    <div class="tree" >
                        <img src="{% static 'media/tree-' %}{{ tree.image_index }}.svg" alt="{{tree.name}}">
                        <p class="tree-name kavoon">{{tree.name}}</p>
                    </div>
                {% endfor %}
                    
            </div>

            <div class="trees" id="list-of-not-found-trees">
                
                {% for tree in not_found_trees %}
                    <img src="{% static 'media/unknown.svg' %}" alt="{{tree.name}}">
                {% endfor %}
                    
            </div>


        </div>
    </div>

    <div class="button-container">
        <img src="{% static 'media/map-button.svg' %}" alt="map icon">
    </div>
    


{% endblock content_block %}
    





