{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <script src="{% static 'base_scripts.js' %}" defer></script>

    <style>
        .kavoon {
            font-family: "Kavoon", serif;
            font-weight: 400;
            font-style: normal;
          }

        body{
            padding : 0;
            margin: 0;
        }
          
    </style>

    {% block head_block %}
         
    {% endblock head_block %}
    

    
</head>
<body>

    <img src="{% static 'media/background-image.webp' %}" alt="background-image" class="background-image">
    <div class="background-image-cover"></div>

    <div class="loading-screen">

        <div class="loading-screen-container">
            <img src="{% static 'media/loading-icon.webp' %}" alt="">
            <p class="kavoon">Merry Christmas Masbate</p>
        </div>

    </div>
    

    <div class="pop-up-screens close-pop-up" id="pop-up-screen">
        <div class="pop-up-content">
            <img class="search-icon" src="{% static 'media/search-icon.svg' %}" alt="search-icon">
            <p class="kavoon">Naghahanap ng Christmas Tree</p>
            <button class="kavoon" id="stop-searching"> ITIGIL </button>
        </div>
    </div>


    


    <main class="main-container">
        <aside class="left-side">

        </aside>

        <section>
            {% block content_block %}
                
            {% endblock content_block %}
        </section>

        <aside class="right-side">

        </aside>

    </main>


    
</body>
</html>